<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Details</th>
      <th>Location</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <%= render @races %>
  </tbody>
</table>